[submodule "Submodules/OTRKit"]
	path = Submodules/OTRKit
	url = https://github.com/deepdatago/OTRKit.git
[submodule "Submodules/CPAProxy"]
	path = Submodules/CPAProxy
	url = https://github.com/deepdatago/CPAProxy.git
[submodule "Submodules/XMPPFramework"]
	path = Submodules/XMPPFramework
	url = https://github.com/deepdatago/XMPPFramework.git
[submodule "Submodules/ChatSecure-Metadata"]
	path = Submodules/ChatSecure-Metadata
	url = https://github.com/deepdatago/ChatSecure-Metadata.git
[submodule "Submodules/ProxyKit"]
	path = Submodules/ProxyKit
	url = https://github.com/deepdatago/ProxyKit.git
[submodule "Submodules/IOCipher"]
	path = Submodules/IOCipher
	url = https://github.com/deepdatago/IOCipher-ObjC.git
[submodule "Submodules/xmpp-server-list"]
	path = Submodules/xmpp-server-list
	url = https://github.com/deepdatago/xmpp-server-list.git
[submodule "Submodules/ChatSecure-Push-iOS"]
	path = Submodules/ChatSecure-Push-iOS
	url = https://github.com/deepdatago/ChatSecure-Push-iOS.git
[submodule "Submodules/JSQMessagesViewController"]
	path = Submodules/JSQMessagesViewController
	url = https://github.com/deepdatago/JSQMessagesViewController.git
[submodule "Submodules/SignalProtocol-ObjC"]
	path = Submodules/SignalProtocol-ObjC
	url = https://github.com/deepdatago/SignalProtocol-ObjC.git
[submodule "Submodules/LumberjackConsole"]
	path = Submodules/LumberjackConsole
	url = https://github.com/deepdatago/LumberjackConsole.git
