[submodule "Submodules/OTRKit"]
	path = Submodules/OTRKit
	url = https://github.com/deepdatago/OTRKit.git
[submodule "XMPPFramework"]
	path = XMPPFramework
	url = https://github.com/deepdatago/XMPPFramework.git
[submodule "ChatSecure-Metadata"]
	path = ChatSecure-Metadata
	url = https://github.com/deepdatago/ChatSecure-Metadata.git
[submodule "ProxyKit"]
	path = ProxyKit
	url = https://github.com/deepdatago/ProxyKit.git
[submodule "IOCipher"]
	path = IOCipher
	url = https://github.com/deepdatago/IOCipher-ObjC.git
[submodule "xmpp-server-list"]
	path = xmpp-server-list
	url = https://github.com/deepdatago/xmpp-server-list.git
[submodule "ChatSecure-Push-iOS"]
	path = ChatSecure-Push-iOS
	url = https://github.com/deepdatago/ChatSecure-Push-iOS.git
[submodule "JSQMessagesViewController"]
	path = JSQMessagesViewController
	url = https://github.com/deepdatago/JSQMessagesViewController.git
[submodule "SignalProtocol-ObjC"]
	path = SignalProtocol-ObjC
	url = https://github.com/deepdatago/SignalProtocol-ObjC.git
[submodule "LumberjackConsole"]
	path = LumberjackConsole
	url = https://github.com/deepdatago/LumberjackConsole.git
